@import "tailwindcss";

body {
  background-color: #0a0d14; /* Deep dark background */
  color: #ffffff;
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0d14;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ec4899; /* Pink hover */
}